a{

}
a:link{
    color:coral;
    text-decoration: none;
}
a:visited{
    color:lightskyblue;
}
a:hover{
    color:rgb(244, 192, 35);
    text-decoration: underline;
}
body{
    background-image: url('skystarlight.gif');
    font-size: 30px;
}

.center{
    display:inline-block;
    float:center;
    width:50%;
    padding:10px;
    flex-grow:3;
}

.centercol{
    float:center;
    background-color:#4f4fff;
    border-radius: 12px;
    flex-grow: 3;
    font-size: 3vw;
    border: 1px solid white;
    color: white;
    margin: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lsidebar{
    width:20%;
    float:left;
    padding:0px;
    border: 1px solid white;
    color: lightskyblue;
    font-size:3vw;
    background-color:#4f4fff;
    border-radius: 12px;
    font-family: 'Paytone One', sans-serif;
    flex-grow:1;


}
.rsidebar{
    width:20%;
    float:right;
    padding:10px;
    border: 1px solid white;
    color: white;
    font-size:20px;
    background-color:#4f4fff;
    border-radius: 12px;
    flex-grow:1;
}

.cake{
    background:pink;
    border-radius: 12px;
}
.webcolumns{
    display: flex;
    align-content: space-between;
    gap:20px;
    margin:80px;
}
