a{
    cursor: url('cake.gif');
}
body{
    background-image: url('skystarlight.gif');
    font-size: 50px;
}

.center{
    display:inline-block;
    float:center;
    width:50%;
    padding:10px;
    border: 1px solid white;
    color: white;
    font-family: 'Nabla', cursive;
    background-color:#4f4fff;
    border-radius: 12px;
    flex-grow: 3;
}

.lsidebar{
    width:20%;
    float:left;
    padding:0px;
    border: 1px solid white;
    color: lightskyblue;
    font-size:60px;
    background-color:#4f4fff;
    border-radius: 12px;
    font-family: 'Paytone One', sans-serif;
flex-grow: 1;

}
.rsidebar{
    width:20%;
    float:right;
    padding:10px;
    border: 1px solid white;
    color: white;
    font-size:20px;
    background-color:#4f4fff;
    border-radius: 12px;
    flex-grow:1;
}

.cake{
    background:pink;
    border-radius: 12px;
}

.webcolumns{
    display: flex;
    align-content: space-between;
    gap:10px
}