/*LINK STUFF*/
a{

}

a:link{
    color:coral;
    text-decoration: none;
}
a:visited{
    color:lightskyblue;
}
a:hover{
    color:rgb(244, 192, 35);
    text-decoration: underline;
   font-style: italic;
}

/*BG*/
body{
    background-image: url('skystarlight.gif');
    font-size: 3vw;
    color: white;
}

p{
    font-size:1.5vw;
    text-align: center;
    padding:1vw;
}

.fancyname:hover{
text-decoration: underline;
color:rgb(244, 192, 35);
}

/*COLUMNS*/
.center{
    display:inline-block;
    width:60%;
    flex-grow:3;
}

.centercol{
   display: block;
    background-color:#4f4fff;
    border-radius: 12px;
    flex-grow: 3;
    font-size: 3vw;
    border: 2px solid white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-wrap: wrap;
    float:center;
    align-self: auto;
    margin-bottom: 10px;
}

.updatetext{
  font-size:2vw;
}

.lsidebar{
    width:20%;
    float:left;
    border: 2px solid white;
    font-size:3vw;
    background-color:#4f4fff;
    border-radius: 12px;
    flex-grow:1;
}
.rsidebar{
    width:20%;
    float:right;
    border: 2px solid white;
    background-color:#4f4fff;
    border-radius: 12px;
    flex-grow: 1;
}
.webcolumns{
    display: flex;
    align-content: space-between;
    gap:2vw;
    margin:20px;
    cursor: url(mouse.png), auto;
}

.sidebutton{
    transition: transform .2s;
}

.sidebutton:hover{
    transform: scale(1.1);
}

.mobilenav{
    display:none;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
    color:blue;
  }
  
  .marquee {
    white-space: nowrap;
    background-color: skyblue;
    overflow: hidden;
    display:inline-block;
    animation: marquee 20s linear infinite;
  }
  
  .marquee p {
    display: inline-block;
  }

  .marquee2 {
    white-space: nowrap;
    background-color: skyblue;
    overflow: hidden;
    display:inline-block;
    animation: marquee 20s linear infinite;
  }
  
  .marquee2 p {
    display: inline-block;
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(50%, 0, 0);
    }
  }


/* MEDIA QUERIES */

@media(min-width: 650px) and (max-width: 1000px) {
  p{
    font-size:2.5vw;
  }

  body{
    font-size:4vw;
  }

  .centercol{
    font-size:4vw;
  }
  
  .updatetext{
    font-size:4vw;
  }

    .sidebutton{
      height:90px
  }

  .rsidebar{
    display:none;
  }
}

@media(min-width: 0px) and (max-width: 650px) {

    .lsidebar{
        display:none;
    }

    .rsidebar{
        display:none;
    }

    .center{
        width:100%
    }

    .marquee{
     
    }

    .marquee2{
      
    }

    .updatetext{
      font-size:4vw;
    }

    .mobilenav{
        background-color: #4f4fff;
        display:flex;
        border: 2px solid white;
        border-radius: 12px;
        margin: 1vw;
    }

body{
  font-size: 6vw;
}

p{
  font-size: 4.5vw;
}

.centercol{
  font-size: 7vw;
}
}

